<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="USERNAME" value="testuser"/>
      <add key="PASSWORD" value="testpass"/>
      <add key="INTEROP_HOST" value="http://192.168.99.100:8000"/>
      <add key="REFRESH_RATE" value="10"/>
    </appSettings>
</configuration>