<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Interop.Modules.Client.Server.TargetServer">
        <endpoint address="net.tcp://192.168.1.95:8000/targetserver"
                  binding="netTcpBinding"
                  contract="Interop.Infrastructure.Interfaces.ITargetServer" />
      </service>
    </services>
  </system.serviceModel>
</configuration>